<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.searchpicturetool">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name = "android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--<uses-permission android:name="android.permission.GET_TASKS" />-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:name=".app.APP"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

<!--        <meta-data-->
<!--            android:name="UMENG_APPKEY"-->
<!--            android:value="${UMENG_APPKEY}"/>-->

<!--        <meta-data-->
<!--            android:name="UMENG_MESSAGE_SECRET"-->
<!--            android:value="${UMENG_MESSAGE_SECRET}" >-->
<!--        </meta-data>-->

<!--        <meta-data android:name="UMENG_CHANNEL"-->
<!--            android:value="${UMENG_CHANNEL}"/>-->

        <activity
            android:name=".launch.LaunchActivity"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
             >
        </activity>
        <activity android:name=".search.result.SearchResultActivity"/>
        <activity android:name=".detail.ShowLargeImgActivity"
            android:configChanges="orientation|keyboardHidden"
            />
        <activity android:name=".user.collect.ShowCollectLargeImgActivity"
            android:configChanges="orientation|keyboardHidden"
            />
        <activity android:name=".recommend.BannerListActivity"
            android:label="@string/menu_recommend"
            />
        <activity
            android:name=".user.UserActivity"
            android:label="我的图片"
            />
        <activity android:name=".user.download.ShowDownloadImgActivity"
            android:label=" "
            />
        <activity android:name=".setting.SettingActivity"
            android:label="设置"
            />
        <activity android:name=".recommend.MoreRecommendActivity"
            android:label="更多"
            />


        <!-- umeng -->

        <!--response-->
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:label="意见反馈"
            />
        <!--response-->



    </application>

</manifest>
